*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  overflow-x:hidden;
}
a{
  text-decoration: none;
}
#header{
  background-image: url(https://static.pexels.com/photos/33319/fashion-beauty-model-portrait.jpg);
  color: white;
  height: 500px;
  background-size: cover;
  background-position: center;
}
.contentText{
  padding-bottom: 30px;
  padding-top:30px;
  background-color: rgba(12, 9, 10, 1);
  color: rgba(178, 178, 216, 1);
}
.col-lg-5{
  padding: 0;
}
.navStatic{
  position: fixed;
  top: 0px;
  right: 0px;
  left:0px;
  z-index: 10000;
}
.headText{
  margin-top: 200px;
}
 h1{
  line-height: 50px;
  margin:0;
  opacity: 1;
  border: 2px solid white;
  background-color: black;
}
#map {
       width: 100%;
       height: 400px;
       background-color: grey;
     }
.container-fluid{
  padding: 0;
}
.footer{
  background-color: rgba(12, 9, 10, 1);
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;

  color: #b2b2d8;
}
.links{
  line-height: 50px;
}
.links a{
  color: #6666b2;
  -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
    text-decoration: none;
}
.links a:hover{
  color:white;
}
table{
  width:100%;
}
#copyright{

  padding-top: 5px;
}
#quickInfo{
  border-bottom: 1px solid #6666b2;
  border-top: 1px solid #6666b2;
  padding-top: 5px;
  padding-bottom: 5px;
}
.lead{
  margin-bottom: 0;
  border-top: 1px
}
.fa-facebook:hover{
  color:white;
}
.fa-facebook{
  -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
    color: #6666b2;
}
#navigator.navbar-default .navbar-brand {
    color: rgba(178, 178, 216, 1);
}
#navigator.navbar-default {
    font-size: 16px;
    background-color: rgba(12, 9, 10, 1);
    border-width: 0px;
    border-radius: 0px;
}
#navigator.navbar-default .navbar-nav>li>a {
    color: rgba(178, 178, 216, 1);
    background-color: rgba(248, 248, 248, 0);
    -webkit-transition: color 1s; /* Safari */
      transition: color 1s;
}
#navigator.navbar-default .navbar-nav>li>a:hover,
#navigator.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(12, 9, 10, 1);
}
#navigator.navbar-default .navbar-nav>.active>a,
#navigator.navbar-default .navbar-nav>.active>a:hover,
#navigator.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(19, 32, 107, 1);
}
#navigator.navbar-default .navbar-toggle {
    border-color: #13206b;
}
#navigator.navbar-default .navbar-toggle:hover,
#navigator.navbar-default .navbar-toggle:focus {
    background-color: #13206b;
}
#navigator.navbar-default .navbar-toggle .icon-bar {
    background-color: #13206b;
}
#navigator.navbar-default .navbar-toggle:hover .icon-bar,
#navigator.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #0c090a;
}
